*{
    margin: 0%;
    padding: 0% ;
}
body{
   background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2021/03/16/1403980/df4d083832f39af38dce18d494c6f945-700.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   text-align: center;
  }
  .container-from {
      justify-content: space-between;
      display: flex;
      width: 90%;
  }