#containerr{
    display: flex;
    background-color: rgb(182, 183, 184);
    
}
.texto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    margin: 0px  30px;
    display: flex;
    
    flex-direction: column;
}
.texto_titulo{
    font-size: 22px;
    color: rgb(9, 88, 88);
}
.actores{
    display: flex;
    margin: 0px 0px;
    color: rgb(0, 0, 0);
}