@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

* {
  box-sizing: border-box;
}
#tags {
  background-color: #000000;
}
:root {
  --primary-color: #0c0c0c;
  --secondary-color: #373b69;
}
.dropdown-item {
  background-color: rgba(0, 0, 0, 0.11) !important;
}
.dropdown-menu {
    width: 100%;
    height: 185px;
  background-color: rgb(0, 0, 0) !important;
}
.dropdown-menu li{
    width: 1000px;
}
.dropdown {
 
}
.dropdown-item{
    width: 750px;
}
.dropdown-menu{
    width: 100%;
}

body {
  background-color: var(--primary-color) !important;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background-color: rgba(var(--tmdbDarkBlue), 1);
  color: rgb(0, 0, 0);
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header{
  background-image: linear-gradient(rgba(39, 53, 99, 0.5), rgba(29, 45, 75, 0.5)),  url(https://cl.buscafs.com/www.tomatazos.com/public/uploads/images/50151/50151_800x450.jpg) !important;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% auto;
}
.media h3{
  width: 80%;
  display: flex;
  margin-left: 70px;
  text-align: center;
}


.media {

  height: 50vh;
  display: flex;
  color: #eee;
  background-image: linear-gradient(rgba(39, 53, 99, 0.5), rgba(29, 45, 75, 0.5)),  url(https://www.wallpaperup.com/uploads/wallpapers/2021/03/16/1403980/df4d083832f39af38dce18d494c6f945-700.jpg) ;
  background-repeat: no-repeat;
  background-size: 1% 1%;
  width: 100%;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% auto;
  
}
.form input[type=text]{
    width: 100%;
    height: 46px;
    line-height: 46px;
    font-size: 1.1em;
    color: rgba(0,0,0,0.5);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
}
.search {

  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  width: 90%;
  font-family: inherit;
}

.search:focus {
  outline: 0;

}

.search::placeholder {
  color: #7378c5;
}

main {
 display: grid;
 grid-gap: 0px;
 grid-template-columns: 25% 25% 25% 25%;

}

.movie {
  width: 250px;
  margin: 1rem;
  
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: #01020e;
  position: relative;
  overflow: hidden;
}

.movie img {
  grid-column-gap: 29px ;
  display: inline-block;
    width: 100%;
    
}
.overview{

}

.movie-info {
  color: rgb(245, 236, 236);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}

#tags {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.tag {
  color: white;
  padding: 10px 20px;
  background-color: orange;
  border-radius: 50px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}

.tag.highlight {
  background-color: red;
}
.no-results {
  color: white;
}

.pagination {
  display: flex;
  margin: 10px 30px;
  align-items: center;
  justify-content: center;
  color: white;
}

.page {
  padding: 20px;
  cursor: pointer;
}

.page.disabled {
  cursor: not-allowed;
  color: grey;
}

.current {
  padding: 10px 20px;
  border-radius: 50%;
  border: 5px solid orange;
  font-size: 20px;
  font-weight: 600;
}

.know-more {
  background-color: orange;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 5px;
}
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 10%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.containerr{
  display: flex;
  
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.embed.hide {
  display: none;
}

.embed.show {
  display: inline-block;
}

.arrow {
  position: absolute;
  font-size: 40px;
}

.arrow.left-arrow {
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

.arrow.right-arrow {
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}

.dots {
  margin-top: 30px;
}

.dots .dot {
  padding: 5px 15px;
  border-radius: 50%;
  border: 5px solid var(--secondary-color);
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin: 5px;
}

.dots .dot.active {
  border-color: orange;
}

.btn-warning{
  
  background-color:  #ffd900 !important;
}
.me{
  color: #ffd900 !important;
  border-color: #00000009 !important;
  background-color: #000000 !important;
   
}


@media (max-width:912px){

  main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
   
  }

  .movie {
    width: 90%;

    
  }
}
@media (max-width:820px){

  main{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0px;
    grid-gap:0px ;
    margin: 0px auto;
   
  }

  .movie {
    width: 90%;

    
  }
  
  
}
@media (max-width:700px){
  main{
    width: 100%;
    display: flex;
    grid-template-columns: 100%;
    margin: 0;
    width: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
  }


}
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}